.container {
  max-width: 750px;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  text-align: center;
}

.footer {
  display: grid;
  justify-content: center;
  padding: 2rem 0;
}

.footer a {
  color: hsl(226, 64%, 96%);
  text-align: center;
}

.description {
  color: hsl(226, 64%, 96%);
  margin: 6rem 4rem;
  line-height: 1.5;
  font-size: 1.5rem;
  word-wrap: break-word;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border: 2px solid hsl(226, 64%, 96%);
  color: hsl(226, 64%, 96%);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 200px;
}

.card:hover {
  color: hsl(226, 64%, 64%);
  border-color: hsl(226, 64%, 64%);
}

.card h2 {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .description {
    margin: 4rem 2rem;
    font-size: 1.2rem;
  }
}
